html{
  overflow-x: hidden;
    font-family: 'Manrope', sans-serif;
}
body{
  width:100%;
  height:100%;
  overflow-x: hidden;
}



header{
  width:100%;
  height:70px;
  background:white;
  display: inline-block;
  border-bottom: 1px solid #d6d6d6;
}
header .logo{
  width:20%;
  height:100%;
  position:relative;
  display: inline-block;
}

header img{
  margin-top:20px;

}
header .header-menu{
  width:78%;
  height:50px;
  position:absolute;
    display: inline-block;
}
header ul{
  margin-top: 25px;
  float: right;
      display: inline-block;
}
header ul li{
  margin-right:15px;
  display: inline-block;
}
header ul li a{
  text-decoration: none;
  color:black;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.nav-links ul{
opacity: 0;
}
/**/
.main{
display:flex;
height:90vh;
justify-content:center;
align-items:center;
background:white;
}
.hero{
  position: relative;
  width:100%;
  height:60%;
  display: inline-block;
  background: #f0f0f0;

}
.hero-left{

  width:100%;
  height:100%;
  background:rgba(255, 88, 81, 0.9);
    display: inline-block;
}

/*SVG Text Animation*/
#logo{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
#logo path:nth-child(2){
stroke-dasharray:571.576904296875;
stroke-dashoffset:571.576904296875;
animation:line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3){
  stroke-dasharray:463.9679870605469;
  stroke-dashoffset:463.9679870605469;
  animation:line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(4){
  stroke-dasharray:493.91162109375;
  stroke-dashoffset:493.91162109375;
  animation:line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(5){
  stroke-dasharray:226.9;
  stroke-dashoffset:226.9;
  animation:line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(6){
  stroke-dasharray:635.7115478515625;
  stroke-dashoffset:635.7115478515625;
  animation:line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(7){
  stroke-dasharray:604.4;
  stroke-dashoffset:604.4;
  animation:line-anim 2s ease forwards 1.8s;
}
#logo path:nth-child(8){
  stroke-dasharray:463.96795654296875;
  stroke-dashoffset:463.96795654296875;
  animation:line-anim 2s ease forwards 2.1s;
}
#logo path:nth-child(9){
  stroke-dasharray:549.06;
  stroke-dashoffset:549.06;
  animation:line-anim 2s ease forwards 2.4s;
}
@keyframes line-anim{
  to{
    stroke-dashoffset:0;
  }
}
/*///////////////////////////////////////////////// Smooth Sroll To Top ///////////////////////////////*/
.scroll{
  width:50px;
  height:50px;
  border-radius: 50%;
position: fixed;
bottom: 20px;
  right: 20px;
z-index:1;
display: block;
  text-decoration: none;

  -webkit-transition: all 0.3s;
    background: rgba(255, 88, 81, 0.9);
}
.scroll i{
  z-index: 1;
    color: #fff;
    margin: 0;
    position: relative;
    left: 17px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.scroll:hover{
      background: rgba(255, 88, 81, 0.7);
}
.scroll:hover i{
    color: #fff;
    top: 5px;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
.content2-page{
  width:100%;
  height:60%;
}
.content2{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(19rem,1fr)) ;
grid-auto-rows: minmax(600px,50%);
background:white;
}
.content2-img{
background: url('pics.jpg');
width:100%;
height:90%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
align-self: center;
background-attachment: fixed;
}
.content2-text{
text-align: center;
padding-top:10%;
animation-duration: 1s;
animation-fill-mode: both;
}
#content2-line1{
  font-family:sans-serif;
 letter-spacing: 6px;
  font-size:16px;
  font-weight:600;
  text-transform: uppercase;
  color:grey;
  position:relative;

}

.content2-text{ animation-name: fadeInLeft }
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20%);
    }
    to { opacity: 1 }
}

#content2-line2{
  font-size: 40px;
  font-weight: 600;
  font-family:serif;
  display: inline-block;
  position:relative;
  margin: 0 auto;
max-width: 500px;
padding: 12px;
 overflow-wrap: break-word;
word-wrap: break-word;
hyphens: auto;
}
#content2-line3{

  font-family:sans-serif;
  font-size:15px;
  font-weight:600;
  text-transform: uppercase;
  color:grey;
  position:relative;
  line-height: 30px;
  transition: 3s ease-in-out;
    margin: 0 auto;
  max-width: 500px;
  padding: 12px;
   overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;

}







.testimonial-section{
  display:flex;
width:100%;
height:1000px;
position: relative;
  justify-content:center;
  align-items:center;
  background:white;
}
.testimonial-section .hero-test{
  position: relative;
  width:100%;
  height:100%;
  display: inline-block;
background:rgba(255, 88, 81, 0.9);

}
.testimonial-section .hero-down{

  width:100%;
  height:40%;
  background: #f0f0f0;
    display: inline-block;
}
.card-container{
  position:absolute;
  width:100%;
  height:420px;
display:inline-flex;
justify-content: center;
flex-wrap: wrap;
}
.card-container #card{
  margin:40px;
}
.card1{
  /* margin:5px 10px; */
  position:relative;
  width:300px;
  height:100%;
  transform-style:preserve-3d;
  transition:transform .8s ease-in-out;

}
.card2{
    /* margin:5px 50px; */
  position:relative;
width:300px;
  height:100%;
  transform-style:preserve-3d;
  transition:transform .8s ease-in-out;

}
.card3{
    /* margin:5px 50px; */
  position:relative;
  width:300px;
  height:100%;
  transform-style:preserve-3d;
  transition:transform .8s ease-in-out;

}
.card1:hover{
  transform:rotateY(180deg);
}
.card2:hover{
  transform:rotateY(180deg);
}
.card3:hover{
  transform:rotateY(180deg);
}
.card1 .card-front{
  padding:20px;
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility: hidden;
background:linear-gradient(to right, #e35d5b, #e53935);
  color:white;
  text-align:center;
  border-radius:20px;
  font-size:18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

}
.card1 .card-back{
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility: hidden;
  background:linear-gradient(to right, #e35d5b, #e53935);
  color:#fff;
  text-align:center;
  padding:20px;
  border-radius:20px;
  font-size:18px;
  font-weight: bold;
  transform: rotateY(180deg);
}
.card1 .card-back .back-content{
  width:100%;
  height:100%;
  background: white;
}
.card1 .card-back .back-content .review-prof{
  background: white;
  width:100%;
  height:50%;
  display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
}
.card1 .card-back .back-content .review-prof .review-img{
  background:url('../review1.png');
  width:130px;
    height:130px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border:4px solid rgba(255, 88, 81, 0.9);
}
.card1 .card-back .back-content .review-desc{
  background: white;
  width:100%;
  height:50%;
}
.card1 .card-back.back-content .review-title{
  font-size: 25px;
text-transform: uppercase;
text-align: center;
letter-spacing: 2px;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
margin:5px 0px;
color:black;
}
.card1 .card-back .back-content .review-text{
color:grey;
font-size: 18px;
line-height: 30px;
max-width: 500px;
padding: 0 12px;
overflow-wrap: break-word;
word-wrap: break-word;
hyphens: auto;
font-family: 'Open Sans', sans-serif;
}

.card2 .card-front{
  padding:20px;
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility: hidden;
background:linear-gradient(to right, #e35d5b, #e53935);
  color:white;
  text-align:center;
  border-radius:20px;
  font-size:18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card2 .card-back{
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility: hidden;
  background:linear-gradient(to right, #e35d5b, #e53935);
  color:#fff;
  text-align:center;
  padding:20px;
  border-radius:20px;
  font-size:18px;
  font-weight: bold;
  transform: rotateY(180deg);
}
.card2 .card-back .back-content{
  width:100%;
  height:100%;
  background: white;
}
.card2 .card-back .back-content .review-prof{
  background: white;
  width:100%;
  height:50%;
  display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
}
.card2 .card-back .back-content .review-prof .review-img{
  background:url('../review2.jpg');
  width:130px;
    height:130px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border:4px solid rgba(255, 88, 81, 0.9);
}
.card2 .card-back .back-content .review-desc{
  background: white;
  width:100%;
  height:50%;
}
.card2 .card-back.back-content .review-title{
  font-size: 25px;
text-transform: uppercase;
text-align: center;
letter-spacing: 2px;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
margin:5px 0px;
}
.card2 .card-back .back-content .review-text{
color:grey;
font-size: 18px;
line-height: 30px;
max-width: 500px;
padding: 12px;
overflow-wrap: break-word;
word-wrap: break-word;
hyphens: auto;
font-family: 'Open Sans', sans-serif;
}
.card3 .card-front{
  padding:20px;
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility: hidden;
background:linear-gradient(to right, #e35d5b, #e53935);
  color:white;
  text-align:center;
  border-radius:20px;
  font-size:18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .card-front i{
  font-size: 60px;
}
.card3 .card-back{
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility: hidden;
  background:linear-gradient(to right, #e35d5b, #e53935);
  color:#fff;
  text-align:center;
  padding:20px;
  border-radius:20px;
  font-size:18px;
  font-weight: bold;
  transform: rotateY(180deg);
}
.card3 .card-back .back-content{
  width:100%;
  height:100%;
  background: white;
}
.card3 .card-back .back-content .review-prof{
  background: white;
  width:100%;
  height:50%;
  display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
}
.card3 .card-back .back-content .review-prof .review-img{
  background:url('../review3.jpg');
  width:130px;
    height:130px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border:4px solid rgba(255, 88, 81, 0.9);
}
.card3 .card-back .back-content .review-desc{
  background: white;
  width:100%;
  height:50%;
}
.card3 .card-back .back-content .review-title{
  font-size: 25px;
text-transform: uppercase;
text-align: center;
letter-spacing: 2px;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
margin:5px 0px;
}
.card3 .card-back .back-content .review-text{
color:grey;
font-size: 18px;
line-height: 30px;
max-width: 500px;
padding: 12px;
overflow-wrap: break-word;
word-wrap: break-word;
hyphens: auto;
font-family: 'Open Sans', sans-serif;
}







/* .testimonial-section .features-content div{
  color:black;
  padding:40px;
  font-size: 20px;
  display:block;
  transition: .3s ease-in-out;
}
.testimonial-section .features-content div i{
  font-size: 40px;
  margin-bottom: 15px;
}
.testimonial-section .features-content div h1{
  font-size: 20px;
  margin-bottom: 15px;
}
.testimonial-section #features-content-title{
  font-size: 25px;
  font-weight: 600;
  display: flex;
justify-content: center;
align-items: center;
margin:5px 0;
}
.testimonial-section .option1{
  background:white;

}
.testimonial-section .option2{
background:white;

}
.testimonial-section .option3{
background:white;

} */


.content2-page{
  width:100%;
  height:60%;
}
.content2{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(19rem,1fr)) ;
grid-auto-rows: minmax(600px,50%);
background:white;
}
.content2-img{
background: url('images/chef.jpg');
width:100%;
height:60%;
background-size: contain;
background-position: center;
background-repeat: no-repeat;
align-self: center;
animation-duration: 1s;
animation-fill-mode: both;
}
.content2-img { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to { opacity: 1 }
}
.content2-text{
text-align: center;
padding-top:10%;
animation-duration: 1s;
animation-fill-mode: both;
}

.btncontain{
  width:100%;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.more{
  position:absolute;
  font-family: serif;
  color: black;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding:15px;
  border:2px solid black;
  transition: .3s ease-in-out;
}
.more:hover{
  background: #dedede;
  color:white;
}
#content2-line1{
  font-family:sans-serif;
 letter-spacing: 6px;
  font-size:16px;
  font-weight:600;
  text-transform: uppercase;
  color:grey;
  position:relative;

}

.content2-text{ animation-name: fadeInLeft }
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20%);
    }
    to { opacity: 1 }
}

#content2-line2{
  font-size: 40px;
  font-weight: 600;
  font-family:serif;
  display: inline-block;
  position:relative;
  margin: 0 auto;
max-width: 500px;
padding: 12px;
 overflow-wrap: break-word;
word-wrap: break-word;
hyphens: auto;
}
#content2-line3{

  font-family:sans-serif;
  font-size:15px;
  font-weight:600;
  text-transform: uppercase;
  color:grey;
  position:relative;
  line-height: 30px;
  transition: 3s ease-in-out;
    margin: 0 auto;
  max-width: 500px;
  padding: 12px;
   overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;

}





.about-section{
  height:300vh;
  display: flex;
}
.about-section h2{
  font-weight: 700;
  font-size: 20px;
  font-family: sans-serif;

}
.about-section #features-content-title{
  font-size: 40px;
  font-weight: 600;
  display: flex;
justify-content: center;
align-items: center;
margin:5px 0;
}
.about-title{
  width:50%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0!important;
  background: #e53935;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.about-title h2{
  font-size: 30px;
  font-weight: 700;
  font-family: sans-serif;
  color:white;
}
.about-content{
  width:70%;
}
.about-content #abt-1{
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);


  color: white;
}
.about-content #abt-2{
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);


}
.about-content #abt-3{
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: black;
  background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#abt-1 .option-img{
background: url('../color-pencils.jpg');
width:100%;
height:50%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
align-self: center;
}

#abt-2 .option-img{
  background: url('../lean-tower.jpg');
  width:100%;
height:50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
}
#abt-3 .option-img{
  background: url('women-board.jpg');
  width:100%;
height:50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
}
.about-content .abt-1-text{
height:50%;
}
.about-content .abt-1-text p{
  margin:auto;
}
.about-content p{
  width:80%;
  font-size: 30px;
  line-height: 40px;
  font-family: 'Lato', sans-serif;
}
.features-section{
  width:100%;
  height:50%;
  background:#f0f0f0;
}
.features-section .features-title{
  color:white;
  font-size: 30px;
  font-family: sans-serif;
  line-height: 35px;
  padding-left:11%;
}
.features-section .show{
  position:absolute;
  right:300px;
  color:white;
  font-family: sans-serif;
  text-decoration: none;
}
.features-content{
  margin-top:2%;
  padding:3% 11%;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(19rem,1fr));
  grid-auto-rows: minmax(350px,50%);
  grid-gap: 60px;
}
.features-content div{
  color:black;
  padding:40px;
  font-size: 20px;
  display:block;
  transition: .3s ease-in-out;
}
.features-content div i{
  font-size: 40px;
  margin-bottom: 15px;
}
.features-content div h1{
  font-size: 20px;
  margin-bottom: 15px;
}
#features-content-title{
  font-size: 25px;
  font-weight: 600;
  display: flex;
justify-content: center;
align-items: center;
margin:5px 0;
}
.option1{
  background:white;

}
.option2{
background:white;

}
.option3{
background:white;

}
.content3-page{
  width:100%;
  height:500px;
  padding-top:3%;
  padding-left:10%;
  background:#f0f0f0;
}
.content3-text{
width:60%;
height:60%;
padding:4% ;
float:right;
background:rgba(255, 88, 81, 0.9);
color:white;

}

.content3-text-title{
  font-weight: 600;
  font-size: 30px;
  font-family: sans-serif;
  line-height: 35px;
  margin-bottom:20px;
  margin-left: 5%;
}
.content3-text-body{
  color:white;
  width:50%;
  margin-bottom:20px;
  margin-left: 5%;
}
.portfolio{
  color:white;
  font-family: sans-serif;
  text-decoration: none;
  margin-left: 5%;
}




.skills-section{
  width:100%;
  height:50%;
  background:white;
}
.skills-section .skills-section-content{
  margin-top:2%;
  padding-top:3% 9% 0% 9%;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(1rem,1fr));
  grid-auto-rows: minmax(200px,50%);
}
.skills-section .skills-section-content div{
  color:black;
  font-size: 20px;
  display:block;
}
.skills-section .skills-section-content div h1{
  margin-top:8px;
}

.skills-section .step1 .option-img{
  background: url('../img/visa-logo.png');
  width:100%;
  height:45%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
}

.skills-section .step2 .option-img{
  background: url('https://cdn.freebiesupply.com/logos/thumbs/2x/nike-3-logo.png');
  width:100%;
  height:45%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
}
.skills-section .step3 .option-img{
  background: url('https://upload.wikimedia.org/wikipedia/commons/a/ab/Apple-logo.png');
  width:100%;
  height:45%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
}
.skills-section .step4 .option-img{
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/McDonald%27s_Golden_Arches.svg/877px-McDonald%27s_Golden_Arches.svg.png');
  width:100%;
  height:45%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
}

.skills-section .skills-title{
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding-top: 3%;
}


















.footer{
  background:linear-gradient(to right, #e35d5b, #e53935);
  width:100%;
  height:300px;
  position:relative;
}
.email-section {
  width:100%;
  height:200px;
  text-align: center;
  padding-top: 4%;
  display:block;
}
.email-section .logo{
  display: block;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 30px;
  color:white;
}
.email-section ul{
  margin:20px 0px;
  display: inline-block;
}
.email-section li{
  display: inline-block;
}

.footer-menu li #line{
border-right: 1px solid white;
}
.email-section ul li a{
  padding:0px 30px;
  font-weight: 600;
  color:white;
  text-decoration: none;
  font-family: sans-serif;
}
.email-section .footer-icons{
  margin-top: 20px;
}
.email-section .footer-icons ul li a{
  padding: 0px;
  margin:10px;
}
.footer-copyright{
  color:white;
  margin-top: 7px;
}
@media screen and (max-width:1140px){
  .testimonial-section{
    height:1200px;
    justify-content:flex-start;
    align-items:flex-start;
  }
}
@media screen and (max-width:809px){
  .testimonial-section{
    height:1000px;
    justify-content:flex-start;
    align-items:flex-start;
  }
  .card1{
    margin:20px 10px;
    position:relative;
    width:200px;
    height:80%;
    transform-style:preserve-3d;
    transition:transform .8s ease-in-out;
  }
  .card2{
      margin:20px 10px;
    position:relative;
    width:200px;
    height:80%;
    transform-style:preserve-3d;
    transition:transform .8s ease-in-out;
margin-top:40px;
  }
  .card3{
    margin:20px 10px;
    position:relative;
    width:200px;
    height:80%;
    transform-style:preserve-3d;
    transition:transform .8s ease-in-out;
margin-top:40px;
  }
}
@media screen and (max-width:540px){
.testimonial-section{
  height:1500px;
  justify-content:flex-start;
  align-items:flex-start;
}
.skills-section .step1 .option-img{
  background: url('../img/visa-logo.png');
  width:80%;
  height:45%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
}

.skills-section .step2 .option-img{
  background: url('https://cdn.freebiesupply.com/logos/thumbs/2x/nike-3-logo.png');
  width:80%;
  height:45%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
}
.skills-section .step3 .option-img{
  background: url('https://upload.wikimedia.org/wikipedia/commons/a/ab/Apple-logo.png');
  width:80%;
  height:45%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
}
.skills-section .step4 .option-img{
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/McDonald%27s_Golden_Arches.svg/877px-McDonald%27s_Golden_Arches.svg.png');
  width:80%;
  height:45%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
}
}
@media screen and (max-width:768px){
  .main{
  display:flex;
  height:60vh;
  justify-content:center;
  align-items:center;
  background:white;
  }
svg{
  width:300px;
}

  header{
    display:none;
  }
  .content2{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(19rem,1fr)) ;
  grid-auto-rows: minmax(300px,50%);
  background:white;
  }
  #abt-1 .option-img{
  background: url('../color-pencils.jpg');
    width:100%;
    height:50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
  }

  #abt-2 .option-img{
    background: url('../lean-tower.jpg');
    width:100%;
  height:50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
  }
  #abt-3 .option-img{
    background: url('women-board.jpg');
    width:100%;
  height:50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
  }
  .content3-text{
  width:60%;
  height:60%;
  float:right;
  background:rgba(255, 88, 81, 0.9);
  color:white;

  }
  .content3-text-title{
    font-weight: 600;
    font-size: 20px;
    font-family: sans-serif;
  }
  .content3-text-body{
    color:white;
  font-size: 15px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  }
}


/* RESPONSIVE HAMBURGER MENU*/
@media screen and (max-width:768px){
  .menu-btn{
    position:fixed;
    display:flex;
    justify-content:center;
    align-items:center;
    width:60px;
    height:60px;
    cursor:pointer;
    transition: all .5s ease-in-out;
padding:5px;
border-radius:50%;

    top:5px;
    right:10px;
      z-index: 2;
  }
  .menu-btn-bgr{
    width:40px;
    height:5px;
    background: black;
    border-radius:5px;
    box-shadow:0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn-bgr::before,
  .menu-btn-bgr::after{
  content:'';
  position:absolute;
  width:40px;
  height:5px;
  background: black;
  border-radius:5px;
  box-shadow:0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
  }
  .menu-btn-bgr::before{
    transform:translateY(-16px);
  }
  .menu-btn-bgr::after{
    transform:translateY(16px);
  }


  .menu-btn.open .menu-btn-bgr{
    transform:translateX(-50px);
    background:transparent;
    box-shadow:none;
  }
  .menu-btn.open .menu-btn-bgr::before{
    transform:rotate(45deg) translate(35px,-35px);
  }
  .menu-btn.open .menu-btn-bgr::after{
    transform:rotate(-45deg) translate(35px,35px) ;
  }
.nav-links{
  width: 100%;
background-color:#f0f0f0;
  position:fixed;
transform: translateX(-100%);
  height:100vh;
  z-index: 1;
  transition:.3s ease-in-out;
}
.nav-links ul{
opacity: 1;
  margin-top: 100px;
  display:block;
  z-index:1;
  font-size: 25px;
  font-family: sans-serif;
  text-align:center;
  font-weight: 600;
    transition:.3s ease-in-out;
}
.nav-links li{
  width:100%;
  height:50px;
  padding:40px 0px;
  display:block;
  z-index:1;
    transition:.3s ease-in-out;
    border-bottom: 1px solid black;
}
.nav-links li a{
  color:black;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-links li:hover{
  transform: scale(1.2);
}
.clicked{
transform: translateX(0%);
}




.about-section #features-content-title{
  font-size: 25px;
  font-weight: 600;
  display: flex;
justify-content: center;
align-items: center;
margin:5px 0;
}

.about-content p{
  width:80%;
  font-size: 15px;
  line-height: 20px;
  font-family: 'Lato', sans-serif;
}



}
